<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">{{title}}</a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Dodaj studenta</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Przeglądaj studenta</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <!-- <router-outlet></router-outlet> -->
  <app-students-list></app-students-list>
</div>

<div class="navbar fixed-bottom">
  <div class="container">
    <span class="text-muted">  {{footer}} </span>
  </div>
</div>